<div class="dual-video">
  <div>
    <video controls class="video" preload="metadata">
      <source src="assets/{{ item.value.asset1 }}" />
    </video>
    <if condition="'caption1' in item.value">
      <p class="paragraph caption">{{ item.value.caption1 }}</p>
    </if>
  </div>
  <div>
    <video controls class="video" preload="metadata">
      <source src="assets/{{ item.value.asset2 }}" />
    </video>
    <if condition="'caption2' in item.value">
      <p class="paragraph caption">{{ item.value.caption2 }}</p>
    </if>
  </div>
</div>